
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
}


/* ---- typography ---- */

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #f2f2f2;
  color: #444;
}

h1 {
  margin: 0;
}

h2 {}

h3 {}


/* ---- layout ---- */
.game-top{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
}
.left-col{
  flex: 1 0 25%;
}
.card-deck{
  margin: 50px 0;
}
.main-col{
  flex: 1 0 50%;
}
.right-col{
  flex: 1 0 25%;
}
.game-bottom{
  width: 100%;
  padding: 15px;
}
.message-container{
  margin-bottom: 20px;
  padding: 10px;
  background: whitesmoke;
  border-radius: 3px;
  border: 1px solid darkgray;
}
.buttons-container{
  display: flex;
  justify-content: space-around;
}


/* ---- components ---- */

#site-main{
  max-width: 960px;
  min-height: 600px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width:768px){
  #site-main{
    padding: 50px;
  }
}

#splash, .game-element{
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border-radius: 2px;
  background: #fff;
}

.small-deck{
  width: 75px;
}
.big-deck{
  width: 150px;
}
.player-name {
  margin-bottom: 20px;
}
.current-card{
  height: 250px;
  margin: 0 10px;
}
#remaining-cards{
  color: blue;
}
.button-next{
  padding: 10px 30px;
  color: darkolivegreen;
  font-size: 16px;
  font-weight: bold;
  background: #3bb764;
}
.button-next:disabled{
  color: darkgray;
  background: gainsboro;
  cursor: initial;
}
.buttons-container{
  max-width: 450px;
  margin: 0 auto;
  margin-bottom:20px;
}
.buttons-container button{
  padding: 10px;
  box-shadow: inset 0px 20px 0px #32B0DF;
  background: #009dd7;
  color: #fff;
  font-size: 18px;
}
.message{
  margin-right: 15px;
}
.flipped-cards-item{
  border: 1px dashed blue;
  width: 70px;
  height: 100px;
  display: inline-block;
  margin: 5px;
  background-size: cover;
}
.button-three,.button-four{display: none};